{{ define "title" }}About{{ end }}

{{ define "main" }}
  <h2>About</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, labore
    dignissimos! Temporibus laudantium facilis tempora eaque est, nihil dolorum
    perferendis dolor error, incidunt optio recusandae magni maxime, unde
    debitis dolore. Amet libero, odio illo blanditiis doloremque animi fugiat
    quod numquam possimus corporis, repudiandae delectus? Rerum harum officiis
    unde pariatur ipsam?
  </p>
{{ end }}
